.sidebar {
    position: fixed;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0px;
    width: 74px;
    background-color: #202020;
    z-index: 200;
    padding-top: 5px;
    }


.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
    color: white;
}

.sidebar-link .creator {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.sidebar-link {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: #313131;
}

@media (min-width: 1250.1px) {
    .sidebar {
        width: 240px;
    }

    .sidebar-link {
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    .sidebar-link img {
        height: 32px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .sidebar-link div {
        font-size: 17px;
    }

    .sidebar-link .creator {
        margin-left: 60px;
        font-size: 20px;
    }
}